.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-text, #fff);
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
  padding: 0.5em 1.25em;
  background: var(--clr-accent, blue);
  border-radius: 0.25em;
  transition: transform 250ms ease-in-out, opacity 250ms linear;

  &.login {
    --clr-accent: #92a8d1;
    margin-left: 10px;
  }
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: 0.9;
}
