<div *ngIf="invalid">
  <ul class="error-list">
    <li *ngFor="let error of errors">{{ error }}</li>
  </ul>
</div>

<div *ngIf="resendEmail">
  <button *ngIf="!resendConfirmation" class="btn" (click)="handleResendEmail()">
    Resend Email
  </button>
  <p *ngIf="resendConfirmation">
    An email has been sent to your account. Please confirm.
  </p>
</div>

<form id="login_form" #loginForm="ngForm">
  <div class="form_div">
    <div>
      <label for="email-login">Email</label>
    </div>
    <div>
      <input
        [(ngModel)]="model.email"
        name="email"
        type="email"
        id="email-login"
        required
        (change)="handleEmailChange()"
        [ngClass]="{ complete: validEmail }"
        [ngClass]="{ email_error: emailError }"
      />
    </div>
    <div *ngIf="emailError">
      <p class="error">Email is invalid.</p>
    </div>
  </div>
  <div class="form_div">
    <div>
      <label for="password-login">Password</label>
    </div>
    <div>
      <input
        [(ngModel)]="model.password"
        name="password"
        type="password"
        id="password-login"
        required
        (change)="handlePasswordChange()"
        [ngClass]="{ complete: validPassword }"
      />
    </div>
  </div>
</form>

<div class="btn_div">
  <button class="btn return" [routerLink]="['']">Go Back</button>
  <button (click)="handleLogIn()" class="btn login" id="login_button">
    Log In
  </button>
</div>
