<form id="login_form" #loginForm="ngForm">
  <div class="form_div">
    <div>
      <label for="email-login">Email</label>
    </div>
    <div>
      <input
        [(ngModel)]="model.email"
        name="email"
        type="email"
        id="email-login"
        required
      />
    </div>
  </div>
  <div class="form_div">
    <div>
      <label for="password-login">Password</label>
    </div>
    <div>
      <input
        [(ngModel)]="model.password"
        name="password"
        type="password"
        id="password-login"
        required
      />
    </div>
  </div>
</form>

<div class="btn_div">
  <button class="btn return" [routerLink]="['']">Go Back</button>
  <button (click)="handleLogIn()" class="btn login" id="login_button">
    Log In
  </button>
</div>
