<main>
  <section class="featured">
    <h2 class="section-title">Main Features</h2>
    <div class="split">
      <a href="#" class="featured__item">
        <img
          src="../assets/images/—Pngtree—colorful smoke_3687571.png"
          alt="Pink Smoke"
          class="featured__img"
        />
        <p class="featured__details">
          <span class="featured__title">Journaling</span>
          <span class="featured__description"
            >Write daily journals about how you are feeling.</span
          >
        </p>
      </a>
      <a href="#" class="featured__item">
        <img
          src="../assets/images/—Pngtree—isolated tree on transparent background_4414369.png"
          alt=""
          class="featured__img"
        />
        <p class="featured__details">
          <span class="featured__title">Calendar</span>
          <span class="featured__description"
            >View an easy to see calendar that shows you your average.</span
          >
        </p>
      </a>
      <a href="#" class="featured__item">
        <img
          src="../assets/images/rick_morty_PNG14.png"
          alt=""
          class="featured__img"
        />
        <p class="featured__details">
          <span class="featured__title">Get Help</span>
          <span class="featured__description"
            >Speak to a doctor when your patterns are turning bad.</span
          >
        </p>
      </a>
    </div>
  </section>

  <section class="services">
    <div class="container">
      <h2 class="section-title">Our Services</h2>
      <article class="service spacing progress__tracking">
        <img
          class="service__image"
          id="calendar-png"
          src="../assets/images/calendar.png"
          alt="Calendar"
        />
        <h3 class="service__title">Progress Tracking</h3>
        <p class="service__description">
          Keep track of your daily mood, and understand your patterns.
        </p>
        <a href="#" class="btn">See More</a>
      </article>
      <article class="service spacing data__visualization">
        <img
          class="service__image"
          id="pie-chart"
          src="../assets/images/pie-chart2.png"
          alt="Pie Chart"
        />
        <h3 class="service__title">Data Visualization</h3>
        <p class="service__description">
          See data from all your entries, giving you an easy way to gauge your
          status.
        </p>
        <a href="#" class="btn">See More</a>
      </article>
      <article class="service spacing mental__health__services">
        <img
          class="service__image"
          src="../assets/images/doctor.png"
          alt="Doctor"
        />
        <h3 class="service__title">Professional Help</h3>
        <p class="service__description">
          Know when to speak to your doctor, based on your own data and updates.
        </p>
        <a href="#" class="btn">See More</a>
      </article>
    </div>
  </section>
</main>
