<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a (click)="navigation('home')">Home</a>
  <a (click)="navigation('today')">Today</a>
  <a (click)="navigation('calendar')">Calendar</a>
  <a (click)="navigation('data')">Data</a>
  <a (click)="navigation('settings')">Settings</a>
</div>

<div class="top_bar">
  <div>
    <span (click)="openNav()" class="open_navbar_arrow">&#8594;</span>
  </div>
  <div>
    <span class="header___">Mental Health Calendar</span>
  </div>
  <div class="email/logout__">
    <span class="email__ push_right">{{ email }} Hello</span>
    <button class="push_right log_out">Log Out</button>
  </div>
</div>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
  <app-today-view
    *ngIf="page === 'today'"
    [email]="email"
  ></app-today-view>
  <app-month-calendar *ngIf="page === 'calendar'"></app-month-calendar>
</div>
